h1 Billing#index
p Find me in app/views/billing/index.html.slim


a [href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_8lYOtrhmNypFvi7fAM0IBEB1H3F0L9mz&scope=read_write"]
	| Connect to Stripe Account

