h1 Billing#index
p Find me in app/views/billing/index.html.slim


a [href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=#{ENV['STRIPE_CONNECT_CLIENT_ID']}&scope=read_write"]
	| Connect to Stripe Account


	

